@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: white;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color:#16a34a;
  border-radius: 6px;
  border: 3px solid white;
}

*::-webkit-scrollbar-thumb:hover {
  background-color:#f7cb04;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #22c55e white;
}
