@tailwind base;
@tailwind components;
@tailwind utilities;

/* تطبيق scrollbar على كل عناصر الموقع */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: white;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #22c55e; /* أخضر */
  border-radius: 6px;
  border: 3px solid white;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #16a34a; /* أخضر أغمق عند hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #22c55e white;
}
